{{!-- 記得把 {{> message}} 加入註冊與登入表單 --}}

{{#if errors}}
{{!-- errors 放在 users.js裡面 --}}
{{#each errors}}
{{!-- errors 可能會 = [ { message: 'Email 和 密碼 是必填。' }, { message: '密碼與確認密碼不相符！' } ] --}}
<div class="alert alert-danger alert-dismissible fade show" role="alert">
  {{{this.message}}}
  <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close">
  </button>
</div>
{{/each}}
{{/if}}

{{!-- 決定要安插的 message 格式 --}}
{{#if success_msg}}
<div class="alert alert-warning alert-dismissible fade show" role="alert">
  {{{success_msg}}}
  <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close">
  </button>
</div>
{{/if}}

{{#if warning_msg}}
<div class="alert alert-warning alert-dismissible fade show" role="alert">
  {{{warning_msg}}}
  <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close">
  </button>
</div>
{{/if}}